# SERVER CONFIGURATION
PORT=
NODE_ENV=

# For Render, AWS, Cloudflare 
TRUST_PROXY=

# CORS CONFIGURATION
ALLOWED_ORIGINS=

# DATABASE CONFIGURATION
MONGODB_URI=

# JWT SECRETS (AUTH SETUP)
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

COOKIE_SECURE=
COOKIE_SAME_SITE=